{% extends "base.html" %}
{% load static %}

{% block content %}
  <main>
    <section class="trending py-4">
      <div class="container-sm">
        <div class="pb-2">
          <h1 class="text-center">Trending Now</h1>
        </div>
        <!-- swiper components -->
        <div class="swiper mySwiper">
          {% if movie_slides %}
            <div class="swiper-wrapper">
              {% for slide in movie_slides %}
                <div class="swiper-slide">
                  <!-- card item -->
                  <div class="card position-relative" style="width: 18rem">
                    <a href="{% url "movie_detail" slide.id %}">
                      <div class="card-img-wrapper">
                        <img src="{{ slide.poster_path }}" class="card-img-top w-100 h-100" alt="..." />
                      </div>
                    </a>

                    <div class="card-body">
                      <h5 class="card-title text-info fs-6 fw-bold">{{ slide.title }}</h5>
                      <form action="{% url "home" %}" method="post">
                          {% csrf_token %}
                          <input type="hidden" name="movie_id" value="{{ slide.id }}">
                          <button type="submit" name="add_to_watchlist" class="custom-btn btn fw-bolder shadow">Add To Watchlist</button>
                      </form>
                    </div>

                    <div class="position-absolute d-flex w-100 justify-content-end p-5 mt-3">
                      <!-- favorite button -->
                      <form action="{% url 'home' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="movie_id" value="{{ slide.id }}">
                        <button type="submit" name="add_to_favorites"
                          class="fav d-block position-absolute rounded-pill d-flex align-items-center justify-content-center top-0">
                          <i class="ri-heart-fill fs-4 text-white"></i>
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          {% else %}
            <div class="pb-2">
              <h1 class="text-center">No movie to display.</h1>
            </div>
          {% endif %}
        </div>
      </div>
    </section>

    <section class="py-5 movie">
      <div class="container-sm py-5">
        <div class="row pb-4">
          <form class="container-fluid col-6" method="get">
            <div class="input-group">
              <input type="search" class="form-control" name="title" placeholder="Search by title..." aria-label="search"
                aria-describedby="basic-addon1" />
              <span class="input-group-text fw-bold fs-3" id="basic-addon1">
                <i class="ri-search-line"></i>
              </span>
            </div>
          </form>
          <!-- <div class="col-4"></div> -->
          <div class="col-6 d-flex align-items-center justify-content-end">
            <div class="col-6">
              <select class="form-select"
                name="tags" 
                aria-label="filter movie database"
                hx-get="{% url 'filtered_movie_result' %}"
                hx-trigger="change"
                hx-target="#filter-result">

                {% for value, label in TAGS %}
                  <option value="{{ value }}">{{ label }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
        </div>

        <div class="pb-3">
          <h1 class="text-center">All Movies And Series</h1>
        </div>

        <!-- movies result -->
        <div id="filter-result">
          {% include "partial/movie_result.html" %}
        </div>
      </div>
    </section>
  </main>
{% endblock content %}