{% extends "base.html" %}
{% load static %}

{% block content %}
 <main>
      <section class="trending py-4">
        <div class="container-sm">
          <div class="pb-2">
            <h1 class="text-center">Trending Now</h1>
          </div>
          <!-- swiper components -->
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <!-- swiper item -->
              <div class="swiper-slide">
                <!-- card item -->
                <div class="card position-relative" style="width: 18rem">
                    <a href="/detailed.html">
                        <div class="card-img-wrapper">
                        <imgsc="./media/images/image-placeholder.jpg"cass="card-img-top w-100 h-100"at="..." />
                        </div>
                    </a>

                    <div class="card-body">
                        <h5 class="card-title fs-6 fw-bold">The Shawshank Redemption</h5>
                        <button class="custom-btn btn fw-bolder shadow">Add To Watch list</button>
                    </div>
                    <div class="position-absolute d-flex w-100 justify-content-end p-3">
                        <div class="fav rounded-pill d-flex align-items-center justify-content-center" >
                            <i class="ri-heart-fill fs-4 text-white"></i>
                        </div>
                    </div>
                </div>
              </div>
              <!-- swiper item -->
              <div class="swiper-slide">
                <!-- card item -->
                <div class="card position-relative" style="width: 18rem">
                  <a href="/detailed.html">
                    <div class="card-img-wrapper">
                      <img
                        src="./media/images/image-placeholder.jpg"
                        class="card-img-top w-100 h-100"
                        alt="..."
                      />
                    </div>
                  </a>

                  <div class="card-body">
                    <h5 class="card-title fs-6 fw-bold">
                      The Shawshank Redemption
                    </h5>

                    <button class="custom-btn btn fw-bolder shadow">
                      Add To Watch list
                    </button>
                  </div>
                  <div
                    class="position-absolute d-flex w-100 justify-content-end p-3"
                  >
                    <div
                      class="fav rounded-pill d-flex align-items-center justify-content-center"
                    >
                      <i class="ri-heart-fill fs-4 text-white"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!-- swiper item -->
              <div class="swiper-slide">
                <!-- card item -->
                <div class="card position-relative" style="width: 18rem">
                  <a href="/detailed.html">
                    <div class="card-img-wrapper">
                      <img
                        src="./media/images/image-placeholder.jpg"
                        class="card-img-top w-100 h-100"
                        alt="..."
                      />
                    </div>
                  </a>

                  <div class="card-body">
                    <h5 class="card-title fs-6 fw-bold">
                      The Shawshank Redemption
                    </h5>

                    <button class="custom-btn btn fw-bolder shadow">
                      Add To Watch list
                    </button>
                  </div>
                  <div
                    class="position-absolute d-flex w-100 justify-content-end p-3"
                  >
                    <div
                      class="fav rounded-pill d-flex align-items-center justify-content-center"
                    >
                      <i class="ri-heart-fill fs-4 text-white"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!-- swiper item -->
              <div class="swiper-slide">
                <!-- card item -->
                <div class="card position-relative" style="width: 18rem">
                  <a href="/detailed.html">
                    <div class="card-img-wrapper">
                      <img
                        src="./media/images/image-placeholder.jpg"
                        class="card-img-top w-100 h-100"
                        alt="..."
                      />
                    </div>
                  </a>

                  <div class="card-body">
                    <h5 class="card-title fs-6 fw-bold">
                      The Shawshank Redemption
                    </h5>

                    <button class="custom-btn btn fw-bolder shadow">
                      Add To Watch list
                    </button>
                  </div>
                  <div
                    class="position-absolute d-flex w-100 justify-content-end p-3"
                  >
                    <div
                      class="fav rounded-pill d-flex align-items-center justify-content-center"
                    >
                      <i class="ri-heart-fill fs-4 text-white"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!-- swiper item -->
              <div class="swiper-slide">
                <!-- card item -->
                <div class="card position-relative" style="width: 18rem">
                  <a href="/detailed.html">
                    <div class="card-img-wrapper">
                      <img
                        src="./media/images/image-placeholder.jpg"
                        class="card-img-top w-100 h-100"
                        alt="..."
                      />
                    </div>
                  </a>

                  <div class="card-body">
                    <h5 class="card-title fs-6 fw-bold">
                      The Shawshank Redemption
                    </h5>

                    <button class="custom-btn btn fw-bolder shadow">
                      Add To Watch list
                    </button>
                  </div>
                  <div
                    class="position-absolute d-flex w-100 justify-content-end p-3"
                  >
                    <div
                      class="fav rounded-pill d-flex align-items-center justify-content-center"
                    >
                      <i class="ri-heart-fill fs-4 text-white"></i>
                    </div>
                  </div>
                </div>
              </div>
              <!-- swiper item -->
              <div class="swiper-slide">
                <!-- card item -->
                <div class="card position-relative" style="width: 18rem">
                  <a href="/detailed.html">
                    <div class="card-img-wrapper">
                      <img
                        src="./media/images/image-placeholder.jpg"
                        class="card-img-top w-100 h-100"
                        alt="..."
                      />
                    </div>
                  </a>

                  <div class="card-body">
                    <h5 class="card-title fs-6 fw-bold">
                      The Shawshank Redemption
                    </h5>

                    <button class="custom-btn btn fw-bolder shadow">
                      Add To Watch list
                    </button>
                  </div>
                  <div
                    class="position-absolute d-flex w-100 justify-content-end p-3"
                  >
                    <div
                      class="fav rounded-pill d-flex align-items-center justify-content-center"
                    >
                      <i class="ri-heart-fill fs-4 text-white"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="py-5 movie">
        <div class="container-sm py-5">
          <div class="row pb-4">
            <form class="container-fluid col-6">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Search by title..."
                  aria-label="search"
                  aria-describedby="basic-addon1"
                />
                <span class="input-group-text fw-bold fs-3" id="basic-addon1">
                  <i class="ri-search-line"></i>
                </span>
              </div>
            </form>
            <!-- <div class="col-4"></div> -->
            <div class="col-6 d-flex align-items-center justify-content-end">
              <div class="dropdown">
                <button
                  class="btn custom-btn text-white fw-semibold"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <span class="d-inline-block pe-3"> Filter </span>
                  <i class="ri-filter-3-line fw-semibold fs-5"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Now-Playing</a></li>
                  <li>
                    <a class="dropdown-item" href="#">Popular </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Top Rated </a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Up Coming </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="pb-3">
            <h1 class="text-center">All Movies And Series</h1>
          </div>
          <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-3">
            <div class="col">
              <!-- Card -->
              <div class="card position-relative">
                <a href="/detailed.html">
                  <div class="card-img-wrapper">
                    <img
                      src="./media/images/image-placeholder.jpg"
                      class="card-img-top w-100 h-100"
                      alt="..."
                    />
                  </div>
                </a>
                <div class="card-body">
                  <small>2024-1-14</small>

                  <h5 class="card-title fs-6 fw-bold">
                    The Shawshank Redemption
                  </h5>
                  <div></div>
                  <button class="custom-btn btn fw-bolder shadow">
                    Add To Watch list
                  </button>
                </div>
                <div
                  class="position-absolute d-flex w-100 justify-content-end p-3"
                >
                  <div
                    class="fav1 rounded-pill d-flex align-items-center justify-content-center"
                  >
                    <i class="ri-heart-fill fs-4 text-white"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <!-- Card -->
              <div class="card position-relative">
                <a href="/detailed.html">
                  <div class="card-img-wrapper">
                    <img
                      src="./media/images/image-placeholder.jpg"
                      class="card-img-top w-100 h-100"
                      alt="..."
                    />
                  </div>
                </a>
                <div class="card-body">
                  <small>2024-1-14</small>

                  <h5 class="card-title fs-6 fw-bold">
                    The Shawshank Redemption
                  </h5>
                  <div></div>
                  <button class="custom-btn btn fw-bolder shadow">
                    Add To Watch list
                  </button>
                </div>
                <div
                  class="position-absolute d-flex w-100 justify-content-end p-3"
                >
                  <div
                    class="fav rounded-pill d-flex align-items-center justify-content-center"
                  >
                    <i class="ri-heart-fill fs-4 text-white"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <!-- Card -->
              <div class="card position-relative">
                <a href="/detailed.html">
                  <div class="card-img-wrapper">
                    <img
                      src="./media/images/image-placeholder.jpg"
                      class="card-img-top w-100 h-100"
                      alt="..."
                    />
                  </div>
                </a>
                <div class="card-body">
                  <small>2024-1-14</small>

                  <h5 class="card-title fs-6 fw-bold">
                    The Shawshank Redemption
                  </h5>
                  <div></div>
                  <button class="custom-btn btn fw-bolder shadow">
                    Add To Watch list
                  </button>
                </div>
                <div
                  class="position-absolute d-flex w-100 justify-content-end p-3"
                >
                  <div
                    class="fav rounded-pill d-flex align-items-center justify-content-center"
                  >
                    <i class="ri-heart-fill fs-4 text-white"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <!-- Card -->
              <div class="card position-relative">
                <a href="/detailed.html">
                  <div class="card-img-wrapper">
                    <img
                      src="./media/images/image-placeholder.jpg"
                      class="card-img-top w-100 h-100"
                      alt="..."
                    />
                  </div>
                </a>
                <div class="card-body">
                  <small>2024-1-14</small>

                  <h5 class="card-title fs-6 fw-bold">
                    The Shawshank Redemption
                  </h5>
                  <div></div>
                  <button class="custom-btn btn fw-bolder shadow">
                    Add To Watch list
                  </button>
                </div>
                <div
                  class="position-absolute d-flex w-100 justify-content-end p-3"
                >
                  <div
                    class="fav rounded-pill d-flex align-items-center justify-content-center"
                  >
                    <i class="ri-heart-fill fs-4 text-white"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <!-- Card -->
              <div class="card position-relative">
                <a href="/detailed.html">
                  <div class="card-img-wrapper">
                    <img
                      src="./media/images/image-placeholder.jpg"
                      class="card-img-top w-100 h-100"
                      alt="..."
                    />
                  </div>
                </a>
                <div class="card-body">
                  <small>2024-1-14</small>

                  <h5 class="card-title fs-6 fw-bold">
                    The Shawshank Redemption
                  </h5>
                  <div></div>
                  <button class="custom-btn btn fw-bolder shadow">
                    Add To Watch list
                  </button>
                </div>
                <div
                  class="position-absolute d-flex w-100 justify-content-end p-3"
                >
                  <div
                    class="fav rounded-pill d-flex align-items-center justify-content-center"
                  >
                    <i class="ri-heart-fill fs-4 text-white"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <!-- Card -->
              <div class="card position-relative">
                <a href="/detailed.html">
                  <div class="card-img-wrapper">
                    <img
                      src="./media/images/image-placeholder.jpg"
                      class="card-img-top w-100 h-100"
                      alt="..."
                    />
                  </div>
                </a>
                <div class="card-body">
                  <small>2024-1-14</small>

                  <h5 class="card-title fs-6 fw-bold">
                    The Shawshank Redemption
                  </h5>
                  <div></div>
                  <button class="custom-btn btn fw-bolder shadow">
                    Add To Watch list
                  </button>
                </div>
                <div
                  class="position-absolute d-flex w-100 justify-content-end p-3"
                >
                  <div
                    class="fav rounded-pill d-flex align-items-center justify-content-center"
                  >
                    <i class="ri-heart-fill fs-4 text-white"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <!-- Card -->
              <div class="card position-relative">
                <a href="/detailed.html">
                  <div class="card-img-wrapper">
                    <img
                      src="./media/images/image-placeholder.jpg"
                      class="card-img-top w-100 h-100"
                      alt="..."
                    />
                  </div>
                </a>
                <div class="card-body">
                  <small>2024-1-14</small>

                  <h5 class="card-title fs-6 fw-bold">
                    The Shawshank Redemption
                  </h5>
                  <div></div>
                  <button class="custom-btn btn fw-bolder shadow">
                    Add To Watch list
                  </button>
                </div>
                <div
                  class="position-absolute d-flex w-100 justify-content-end p-3"
                >
                  <div
                    class="fav rounded-pill d-flex align-items-center justify-content-center"
                  >
                    <i class="ri-heart-fill fs-4 text-white"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <!-- Card -->
              <div class="card position-relative">
                <a href="/detailed.html">
                  <div class="card-img-wrapper">
                    <img
                      src="./media/images/image-placeholder.jpg"
                      class="card-img-top w-100 h-100"
                      alt="..."
                    />
                  </div>
                </a>
                <div class="card-body">
                  <small>2024-1-14</small>

                  <h5 class="card-title fs-6 fw-bold">
                    The Shawshank Redemption
                  </h5>
                  <div></div>
                  <button class="custom-btn btn fw-bolder shadow">
                    Add To Watch list
                  </button>
                </div>
                <div
                  class="position-absolute d-flex w-100 justify-content-end p-3"
                >
                  <div
                    class="fav rounded-pill d-flex align-items-center justify-content-center"
                  >
                    <i class="ri-heart-fill fs-4 text-white"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- pagination -->
          <nav aria-label="..." class="py-2">
            <ul class="pagination">
              <li class="page-item disabled">
                <span class="page-link">Previous</span>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item active" aria-current="page">
                <span class="page-link">2</span>
              </li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#">Next</a>
              </li>
            </ul>
          </nav>
        </div>
      </section>
    </main>
{% endblock content %}